## Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

## macOS
.DS_Store

## IDEs
.vscode/
.idea/

## Local caches
.npm-cache/

## React Native / Metro
*.jks
*.keystore

## Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties

## iOS / Xcode
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/**/*.xcuserdatad/
ios/**/*.xcuserstate
ios/.xcode.env.local

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
